---
import { ArrowUpLeft, Cpu, Waves, Blocks, Cloud, Scroll } from "lucide-astro";
---

<div style="margin-bottom: 5em;">
  <div class="columns is-multiline">
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><ArrowUpLeft /></span>
          <span style="margin-left: 0.5em;">Highest Priority First</span>
        </h3>
        <p>
          Ensures that the most important messages are always processed first, deterministically.
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><Waves /></span>
          <span style="margin-left: 0.5em;">Non Discrete Priorities</span>
        </h3>
        <p>
          Fine-grained control using continuous, weight-based priority values instead of fixed levels.
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><Cloud /></span>
          <span style="margin-left: 0.5em;">Cloud-Native Architecture</span>
        </h3>
        <p>
          Built from the ground up on Kubernetes and other modern cloud environments
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><Cpu /></span>
          <span style="margin-left: 0.5em;">Performance</span>
        </h3>
        <p>
          Designed to handle latency-sensitive and real-time workloads with minimal delay and strong reliability.
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><Blocks /></span>
          <span style="margin-left: 0.5em;">Service Integration Ready</span>
        </h3>
        <p>
          Seamlessly connects with Azure Functions, AWS Lambda, Cloud Functions.
        </p>
      </div>
    </div>
    <div class="column is-4">
      <div class="box">
        <h3
          class="title is-size-5 is-size-6-mobile is-flex is-align-items-center"
        >
          <span class="icon"><Scroll /></span>
          <span style="margin-left: 0.5em;">Observability and Insights</span>
        </h3>
        <p>
          Built-in support for real-time monitoring through OpenTelemetry based collectors.
        </p>
      </div>
    </div>
  </div>
</div>
