---
const pathname = new URL(Astro.request.url).pathname;
const currentPage = pathname.split("/")[1];
const currentSubPage = pathname.split("/")[2]; // To identify subpages under "community"
import SocialHandlesIcons from "./SocialHandlesIcons.astro";
import { ArrowUpRight } from "lucide-astro";
---

<div>
  <nav
    class="navbar container is-fixed-top"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <div class="image">
          <img src="/kokaq-logo-dark.png" style="width: auto;" />
        </div>
      </a>
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="menu"
        onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <a
          class={`navbar-item ${currentPage === "docs" && "is-active"}`}
          href="/get-started/installation/"
        >
          <span class="icon-text">
            <span class="has-text-weight-bold">Get Started</span>
            <span class="icon">
              <ArrowUpRight size={20} />
            </span>
          </span>
        </a>
        <div class="navbar-item">
          <SocialHandlesIcons />
        </div>
      </div>
    </div>
  </nav>
</div>
