---
import { Github } from "lucide-astro";
---

<ul class="buttons">
  <a
    class="button is-small"
    target="_blank"
    href="https://github.com/kokaq"
    title="kokaq source code on GitHub"
  >
    <span class="icon"><Github /></span>
    <span>GitHub</span>
  </a>
</ul>
